<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ваш заказ #<%= order.idOrder %> успешно оплачен</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p><%= order.clientName %>, Ваш заказ успешно оплачен! Благодарим за пользование нашим сервисом.</p>
</body>
</html>